*{
    padding: 0px;
    margin: 0px;

}

body{
    background-color: rgb(88, 122, 236);
}

.main-box {
    width: 50%;
    height:450px;
    padding: 15px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgb(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 100px;
}

.reg-main{
    font-family: arial;
    padding-top: 20px;
    padding-left: 38%;
    font-size: 35px;
}

.comment {
    font-size: 25px;
    padding-bottom: 15px;
    padding-left: 25%;
    padding-top: 10px;
}

.word-box {
    font-size: 18px;
    font-family: arial;
   
    font-weight: bold;
}

.enter-box {
    width: 90%;
    padding: 15px;
    display: block;
    height:5px;
    margin-top:5px;
    margin-bottom: 10px;
}

.reg-button{
    width: 100%;
    background-color: rgb(151, 190, 242);
    color: antiquewhite;
    height: 40px;
    border: none;
    margin-top: 15px; 
    font-size: 20px;
    font-weight: bold;
}

.reg-button:hover {
   background-color:rgb(88, 122, 236) ;
}
